* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container {
    width: 1110px;
    margin: 0 auto;
}

html {
    font-family:'Segoe UI', 'Open Sans'
}
.site-navigation {
    padding-top: 40px;
    padding-bottom: 112px;
}
.logo {
    display: block;
    float: left;
    font-weight: 400;
    color: #515151;
    font-size: 24px;
}
a:hover {
    cursor: pointer;
}
.logo:hover::first-letter {
    color: 	#1abd9c;
}
.logo::first-letter {
    font-weight: 700;
    color: #515151;
}
a{
    text-decoration: none;
    color:#000000;
}
a:hover {
    color: #1abd9c;
    cursor: pointer;
}
.list {
    /* width: 1040px; */
    float: right;
    margin: 0;
    padding: 0;
    text-align: right;
    margin-top: 7px;
}
.nav-item {
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 700;
}
.nav-item:not(:last-child) {
    margin-right: 34px;
}
.content {
    width: 1110px;
    height: 1800px;
}
.first-header {
    margin: 0 auto;
    font-size: 35px;
    font-weight: 700;
    color: #515151;
    text-align: center;
    display: block;
    position: relative;
}
.second-header {
    margin: 0 auto;
    font-size: 35px;
    font-weight: 700;
    color: #515151;
    text-align: center;
    display: block;
    position: relative;
}
.first-header::after {
    content: '';
    /* position: absolute;
    bottom: 0;
    top: 60px;
    left: 485px; */
    width: 125px;
    height: 5px;
    background: #1abd9c;
    display: block;
    margin: 0 auto;
}
.second-header::after {
    content: '';
    /* position: absolute;
    bottom: 0;
    top: 60px;
    left: 489px; */
    width: 125px;
    height: 5px;
    background: #1abd9c;
    display: block;
    margin: 0 auto;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}
.catalog-item {
    font-size: 0;
    float: left;
    margin-right: 30px;
    /* margin-bottom: 102px; */
}
.catalog-item:nth-child(-n+4) {
    margin-bottom: 30px;
}
.catalog-item:nth-child(4n) {
    margin-right: 0;
}
.catalog-item:hover .img-gallery {
    background-color: #1abd9c;
}
.catalog-item:hover .catalog-item-title {
    background-color: #1abd9c;
}
.catalog-item:hover .catalog-item-price {
    background-color: #1abd9c;
}
.first-section {
    padding-bottom: 102px;
    font-size: 0;
}
.catalog-item-title {
    background-color: #505050;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    display: inline-block;
    width: 200px;
    height: 34px;
    padding:10px 15px;
}
.catalog-item-price {
    background-color: #8c8c8c;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    width: 55px;
    height: 34px;
    padding: 10px 15px;
}
catalog-item {
    display: block;
}
catalog-item {
    background-color:#1abc9c;
}
img {
    display: block
}
.first-header {
    margin-bottom: 92px;
    color: #515151;
}
.second-header {
    margin-bottom: 75px;
    color: #515151;
}
.second-menu {
    width: 350px;
    height: 496px;
    float: left;
}
.second-menu:not(:last-child) {
    margin-right: 30px;
}
.second-menu-header {
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 500;
    color: #515151;
    display: block;
    position: relative;
}
.second-menu-header::after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 45px;
    left: 0;
    width: 136px;
    height: 3px;
    background: #1abc9c;
}
.second-menu-info {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #515151;
}
.read-more-article {
    padding: 20px 42px;
    color: #fff;
    background-color: #1abc9c;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    /* margin-top: 10px; */
}
.read-more-article:hover {
    background-color: #159d82;
    color: #ffffff;
}