html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  display: block;
}

/* FONTS */

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-regular.woff") format("woff");
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v14-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-700.woff") format("woff");
}
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v20-latin-300.eot"); /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../fonts/roboto-v20-latin-300.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin-300.woff") format("woff");
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin-300.woff") format("woff"); /*modern brousers */
}

.container {
  min-width: 320px;
}

header {
  background: url(../img/Background320.png) no-repeat center #000000;
  background-size: cover;
  height: 540px;
  text-align: center;
  margin-bottom: 65px;
}

.menu {
  margin-bottom: 110px;
  padding: 0;
}

.menu-item {
  width: 90px;
  height: 36px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255, 0);
  transition: 0.2s linear;
}

.menu-item:hover {
  border: 2px solid rgb(255, 255, 255);
  transition: 0.2s linear;
}

.menu-item a {
  font: 700 14px "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
}

.logo a {
  font: 700 20px "Montserrat";
  color: #ffffff;
}

.slider-text h1 {
  font: 700 30px "Montserrat";
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 -15px 3%;
}

.slider-text p {
  font: 300 18px "Roboto";
  color: #ffffff;
  width: 80%;
  margin: 0 auto 4%;
}

.btn-partner1 {
  font: 700 14px "Montserrat";
  color: #ffffff;
  width: 280px;
  height: 40px;
  background-color: #ff4e50;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  transition: 0.2s linear;
  margin: 0 auto;
}

.btn-partner1:hover {
  background-color: #fa6d6f;
  color: #ffffff;
}

nav {
  padding: 4% 0 0 0;
  margin-bottom: 30px;
}

.title h2 {
  font: 700 22px "Montserrat";
  color: #333333;
  text-align: center;
}

.partners_wrap {
  justify-content: center;
}

.partners_wrap-item {
  align-items: center;
  margin: 0 auto;
  width: 210px;
}

.person_img {
  position: relative;
}

.person_img::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
  border: 4px solid #ffffff;
  border-radius: 20px;
  right: 0;
  bottom: 0;
  transition: all 200ms linear;
}

.person_img:hover::before {
  background-color: #25f006;
}

.icon1::before {
  background: url(../img/icons/Shape_128.png) #ff4e50 no-repeat center;
}

.icon2::before {
  background: url(../img/icons/Shape_153.png) #ffa507 no-repeat center;
}

.icon3::before {
  background: url(../img/icons/Shape_155.png) #1cd7ad no-repeat center;
}

.icon4::before {
  background: url(../img/icons/Shape_170.png) #4e73db no-repeat center;
}

.partners_wrap-item h3 a {
  font: 700 14px "Montserrat";
  color: #333333;
  margin-bottom: 15px;
}

.partners_wrap-item p {
  font: 300 14px "Roboto";
  color: #666666;
  text-align: center;
  margin-bottom: 15%;
  line-height: 1.5;
}

.button2 {
  font: 700 14px "Montserrat";
  color: #ff4e50;
  text-align: center;
  width: 280px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #ffffff;
  border: 2px solid #ff4e50;
  margin-bottom: 40px;
  transition: all 200ms linear;
}

.button2:hover {
  background-color: #ff4e50;
  color: #ffffff;
}

/* TABLET */

@media (min-width: 321px) {
  header {
    background: url(../img/Background768.png) no-repeat center #333333;
    background-size: cover;
  }
}

@media (min-width: 768px) {
  header {
    height: 700px;
  }
  .navigation {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 140px;
  }
  .menu {
    margin: 0;
    justify-content: flex-end;
  }
  .logo {
    text-align: left;
  }
  .slider-text h1 {
    font-size: 52px;
    width: 80%;
    margin: 0 auto 3%;
  }
  .slider-text p {
    font-size: 24px;
  }
  nav {
    padding: 6% 10px 0;
  }
  .content h2 {
    margin-bottom: 30px;
  }
}

/* DESKTOP */

@media (min-width: 769px) {
  header {
    background: url(../img/Background1440.png) no-repeat center #333333;
    background-size: cover;
  }
}

@media (min-width: 940px) {
  .container {
    max-width: 940px;
  }
  .menu {
    padding-right: 0;
  }
  .logo {
    padding-left: 0;
  }
  .partners_wrap {
    width: 100%;
  }
  .slider-text h1 {
    width: 66%;
  }
  nav {
    padding: 4% 10px 0;
  }
}
